/*
File:			custom.css
Description:	Custom styles for Thesis

BASIC USAGE:

If you have enabled the custom stylesheet in the Thesis options panel, the <body> tag 
will be appended with the "custom" class, like so: <body class="custom">. You can use 
the "custom" class to override *any* CSS declarations contained in the style.css file.

For example, if you wish to change the default link color to green, you would add the 
following declarations to this file:

	.custom a, .custom a:visited { color: #090; }	<--- This makes links green
	.custom a:hover { color: #00f; }	<--- This makes links blue when you mouse over them

WHY THIS WORKS:

By using the "custom" class, you are creating more specific CSS declarations for HTML
elements. CSS styling is applied through rules of specificity, and because declarations
prepended with .custom are more specific, they get applied when the page is rendered!

More information about styling your Thesis installation using this file can be found
in the User's Guide:
	http://diythemes.com/thesis/rtfm/customizing-thesis-with-customcss/
*/

/* background setup */
.custom
{
	background: #fff url(images/tio-background-clouds.jpg);
	background-position:top center;
	background-repeat:repeat-x;
	padding-top: 0px; padding-bottom: 0px;
}

.custom #container {
    margin: 0 auto;
    width: 990px;
}

/* header */

.custom #header {
    border: medium none;
	background: #fff url(images/logo.jpg);
	height: 140px;
	width: 990px;
	border: none;
	padding: 0;
	height: 184px;
}

/* page and widget area setup */

.custom #content {
    float: left;
    width: 740px;
}

.custom #sidebars {
    border: 0 none;
    float: right;
    width: 250px;
	background-color;
	
}

.custom #page {
    background: none repeat scroll 0 0 transparent;
	-webkit-box-shadow: 0px 0px 40px #000;
	-moz-box-shadow: 0px 0px 40px #000;
	box-shadow: 0px 0px 40px #000;
	-pie-box-shadow: #000 0px 0px 40px;
}

.custom #content_box {
	background: #fff url(images/page-background.jpg);
    width: 100%;
}

.custom .menu
{
	width: 990px;
}

.custom .menu, .menu a, .menu li ul
{
	border: none;
	background-color: #5fb9db;
	height: 51px;
	font-size: 17px;
	line-height: 12px;
	font-family:Arial, Helvetica, sans-serif;
	font-style:normal;
	text-transform: none;
	letter-spacing: 1px;
	padding: 0px 0px 0px 0px;
}


.custom .menu a
/*.custom .menu .current ul a,
.custom .menu .current a,
.custom .menu .current-cat a,
.custom .menu .current-menu-item a*/
{
	background: none repeat scroll 0 0 #5fb9db;
	border: none;
	cursor: pointer;
	color: #fff;
	padding: 27px 8px 12px;
	height: auto;
}

/*current page*/
.custom .menu .current ul a,
.custom .menu .current a,
.custom .menu .current-cat a,
.custom .menu .current-menu-item a
{
	background: url(images/menu-hover.png) repeat-x scroll 0 0 #1a4257;
	border: none;
	cursor: pointer;
	color: #fff;
	padding: 27px 8px 12px;
	height: auto;
}

/* hover*/
.custom .menu a:hover,
.custom .menu .current a:hover,
.custom .menu .current-cat a:hover,
.custom .menu .current-menu-item a:hover
{
	background: url(images/menu-hover-hover.png) repeat-x scroll 0 0 #1a4257;
	border: none;
	cursor: pointer;
	color: #fff;
	padding: 27px 8px 12px;
	height: auto;
}

/* page area */

.custom h1, h2, h3 {
    color: #740704;
    font-family: "palatino linotype",georgia,verdana,tahoma,sans-serif;
}

.custom h1 {
    font-size: 32px;
    line-height: 1.222em;
    margin: 5px 0 5px;
}

.custom .headline_area {
    margin-bottom: 10px;
}

.custom .headline_area h1, .headline_area h2, #archive_intro h1 {
    background-color: #740704;
    color: #FFFFFF;
    font-size: 36px;
    line-height: 38px;
    padding: 5px 5px 5px 10px;
}

.custom .format_text h2 {
    font-size: 24px;
    line-height: 1.222em;
    margin: 1.833em 0 0.611em;
	color: #197497;
	font-weight: normal;
}

.custom .format_text h3 {
    font-size: 20px;
    line-height: 1.222em;
    margin: 1.833em 0 0.611em;
}

.custom .format_text p {
    font-size: 16px;
    line-height: 23px;
    margin-bottom: 10px;
}


/* image styling */

.custom .format_text img.left, .format_text img.alignleft {
    margin: 5px 10px 5px 0px;
	-webkit-box-shadow: 2px 2px 8px #999;
	-moz-box-shadow: 2px 2px 8px #999;
	box-shadow: 2px 2px 8px #999;
	-pie-box-shadow: #999 2px 2px 8px;
}

/* sidebar */

.custom .sidebar ul.sidebar_list {
	padding: 10px 0px 0px 0px;
}

.custom li.widget ul li {
    margin-bottom: 5px;
	padding: 0px 10px 0px 10px;
}

#sidebar_1 {
    border: 0 none;
}

.custom .sidebar h3 {
    background-color: #740704;
    color: #FFFFFF;
    font-family: verdana,tahoma,sans-serif;
    font-size: 17px;
    font-variant: normal;
    letter-spacing: 1px;
    padding: 2px 10px;
	margin-bottom: 5px;
}

/* .custom li.widget div */
.custom ul.sidebar_list div.textwidget {
    font-size: 15px;
    line-height: 1.385em;
    margin: 5px 10px 5px 10px;
}

.custom li.widget p {
    margin-bottom: 5px;
}

.custom ul.sidebar_list li#search.widget form.search_form p {
padding: 2px 10px;
}

.custom ul.sidebar_list div#calendar_wrap{
padding: 2px 10px;
}

.custom table#wp-calendar {
    border-collapse: collapse;
    width: 225px;
}



/* footer area */
#footer {
    border: none;
	padding:0;
	height:0;
}

.footer_custom {
    border: none;
	padding:0;
	background-color: #197497;
}

.custom .footer_main_block
{
	background-color: #197497;
    list-style: none outside none;
	width: 990px;
}

.custom .footer_center
{
width: 100%;
}


.custom .footer_before
{
	float: left;
	display:block;
	width: 50px;
}

.custom .footer_after
{
	float: left;
	display:block;
	width: 51px;
}

.custom .footer_items
{
	float: left;
	display:block;
	width: 202px;
	height: 100% auto;
	font-family: verdana,tahoma,sans-serif;
	border-left: solid 1px #033549;
	margin: 8px 5px 12px 5px;
	color: #fff;
}

.custom .footer_items_right
{
	float: left;
	display:block;
	width: 239px;
	font-family: verdana,tahoma,sans-serif;
	border-right: solid 1px #033549;
	margin: 5px 5px 5px 5px;
	color: #fff;
}

.custom .footer_items h3,
.custom .footer_items_right h3 {
	font-size: 20px;
	font-family: verdana,tahoma,sans-serif;
	font-style: normal;
	color: #fff;
	padding: 2px 5px 5px 5px;
	background-color: #033549;
}

.custom .footer_items div,
.custom .footer_items_right div {
	font-size: 12px;
	font-family: verdana,tahoma,sans-serif;
	font-style: normal;
	color: #fff;
	padding: 5px 5px 5px 5px;
}

.custom .footer_items ul {
	list-style: none outside none;
}

.footer_items li {
	padding: 1px 5px 1px 5px;
}

.footer_bottom {
	background: #033549 url(images/footer_bottom.png);
	background-position:top center;
	background-repeat:repeat-x;
    color: #FFFFFF;
    font-family: verdana,tahoma,sans-serif;
    font-size: 12px;
    padding: 10px 10px;
    text-align: center;
}

.footer_bottom div {
    padding: 1px 10px;
}

.footer_top {
	background: #033549 url(images/footer_top.png);
	background-position:top center;
	background-repeat:repeat-x;
    padding: 0px;
	height:14px;
}

.footer_top_center {
	background: #033549 url(images/footer_top_center.png);
	background-position:top center;
	background-repeat:repeat-x;
    padding: 0px;
	height:14px;
}

.footer_center a, h2 a {
    color: #fad567;
	font-family: verdana,tahoma,sans-serif;
    font-size: 12px;
}

.footer_center a:hover {
    color: #033549;
	font-family: verdana,tahoma,sans-serif;
    font-size: 12px;
}

.footer_bottom a, h2 a {
    color: #fad567;
	font-family: verdana,tahoma,sans-serif;
    font-size: 12px;
}

.footer_bottom a:hover {
    color: #5fb9db;
	font-family: verdana,tahoma,sans-serif;
    font-size: 12px;
}


.custom .full_width
{
	width:100%;
	clear:both;
	background-color:#f00;
}

.custom .comments_closed {display: none;}